<!DOCTYPE HTML>
<html lang="{{ pdfLocale }}">
<head>
    <meta charset="UTF-8" />
    <title>e-tickets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            font-family: "proxima", serif;
            font-weight: 400;
            color: #000000;
            background: #FFFFFF;
        }
        .ticket {
            width: 1240px;
        }
        .ticket__header {
            border-bottom: 3px solid #d8d8d8;
            width: 100%;
            padding: 60px 80px 20px;
            border-collapse: collapse;
        }
        .clear-fix:after {
            content: '';
            display: block;
            clear: both;
        }
        .ticket__header .ticket-label {
            margin-bottom: 3px;
        }
        .ticket__header-left {
            float: left;
            width: 50%;
        }
        .ticket__header-right {
            float: right;
            width: 50%;
        }
        .ticket-logo {
            width: 360px;
            float: left;
            margin-right: 20px;
            text-align: left;
        }
        .ticket-logo img {
            width: 100%;
        }
        .ticket-logo-hint {
            margin-top: 8px;
        }
        .ticket-logo-hint__text {
            font-size: 18px;
            color: #273d71;
            font-weight: bold;
        }
        .ticket-help {
            width: 100%;
        }
        .ticket-help__left {
            padding-right: 20px;
            text-align: right;
            float: right;
            box-sizing: border-box;
            width: auto;
        }
        .ticket-help__right {
            padding-left: 20px;
            border-left: 3px solid #ee4256;
            float: right;
            width: 140px;
        }
        .ticket-help__label {
            font-size: 14px;
            color: #273d71;
            padding-bottom: 5px;
        }
        .ticket-help__phone {
            display: block;
            font-size: 16px;
            color: #273d71;
            font-weight: bold;
            text-decoration: none;
        }
        .ticket-help__link {
            display: block;
            font-size: 16px;
            color: #273d71;
            text-decoration: none;
            font-weight: bold;
        }
        .ticket__main {
            border-bottom: 3px dashed #d8d8d8;
            /*padding: 56px 60px 14px;*/
        }
        .ticket-label {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #29344f99;
            text-transform: uppercase;
            padding-bottom: 7px;
        }
        .ticket-preview {
            padding: 30px 80px 0;
            background-image: url("{{ image_domain ~ asset('assets/img/bg_logo_h.png') }}");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
        }
        .ticket-preview:after {
            content: '';
            display: block;
            clear: both
        }
        .ticket-preview__poster {
            float: left;
            background-color: #29344f99;
            width: 306px;
            height: 432px;
        }
        .ticket-preview__description {
            margin-left: 340px;
        }
        .ticket-preview__description:after {
            content: '';
            clear: both;
            display: block;
        }
        .ticket-preview__img {
            width: 306px;
            height: 432px;
            display: block;
        }
        .ticket-preview__name {
            font-size: 31px;
            line-height: 38px;
            letter-spacing: 0.3px;
            color: #000000;
            font-weight: bold;
            margin-bottom: 27px;
            height: 76px;
            overflow: hidden;
        }
        .ticket-info-table {
            width: 100%;
            border-collapse: collapse;
            margin-left: -20px;
        }
        .ticket-preview__bottom {
            padding: 40px 80px 40px;
        }
        .ticket-preview__bottom .barcode-row {
            float: left;
            width: 45%;
        }
        .ticket-preview__bottom .partners {
            float: right;
            width: 50%;
        }
        .barcode--left {
            float: none;
            width: auto;
        }
        .barcode--right {
            float: right;
            width: 140px;
        }
        .partners__title {
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 0.2px;
            color: #000000;
            text-align: center;
            padding-bottom: 20px;
        }
        .partners__item-right {
            float: right;
            width: 50%;
            text-align: center;
        }
        .partners__item-left {
            float: none;
            max-width: 50%;
            text-align: center;
        }
        .table-row__value {
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.2px;
            color: #000000;
            padding-bottom: 20px;
        }
        .table-row__text {
            font-size: 16px;
            line-height: 16px;
            height: 16px;
            overflow: hidden;
            letter-spacing: 0.2px;
            color: #020202;
            margin-bottom: 17px;
        }
        .table-row__hint {
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 0.1px;
            color: #0202028c;
            margin-top: 31px;
        }
        .barcode {
            text-align: left;
        }
        .barcode__number {
            font-size: 15px;
            margin-top: 6px;
            width: 350px;
        }
        .barcode__number-left {
            float: none;
            width: 50%;
        }
        .barcode__number-right {
            float: right;
            width: 40%;
            text-align: right;
        }
        .box-with-qr .barcode {
            margin-top: -40px;
        }
        .box-with-qr .barcode__number {
            padding-bottom: 0;
        }
        .box-with-qr .ticket-label {
            display: none;
        }
        .ticket-footer .box-with-qr .barcode {
            margin-top: -10px;
            padding-top: 15px;
        }
        .table-row:after {
            content: '';
            display: block;
            clear: both;
        }
        .table-row {
            overflow: hidden;
            padding-bottom: 10px;
        }
        .table-row__right {
            width: 50%;
            float: right;
            text-align: right;
        }
        .table-row__left {
            float: none;
            width: auto;
            max-width: 50%;
        }
        .ticket-rules {
            padding: 30px 80px 15px;
        }
        .ticket-rules__box {
            overflow: hidden;
            height: auto;
        }
        .ticket-rules__box:after {
            content: '';
            display: block;
            clear: both;
        }
        .ticket-rules__left {
            float: none;
            width: 50%;
        }
        .ticket-rules__right {
            width: 45%;
            float: right;
        }
        .ticket-rules__title {
            font-size: 25px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 5px;
        }
        .ticket-rules__title--center {
            text-align: center;
        }
        .ticket-rules__item {
            height: auto;
            overflow: hidden;
        }
        .ticket-rules__text {
            font-size: 14px;
            line-height: 22px;
        }
        .ticket-rules__item:after {
            content: '';
            display: block;
            clear: both;
        }
        .ticket-rules__forbidden {
            margin-bottom: 29px;
        }
        .ticket-rules__icon {
            display: inline-block;
            margin-right: 40px;
        }
        .ticket-rules__icon--last {
            margin-right: 0;
        }
        .ticket-rules__hint {
            color: #29344f99;
            font-size: 11px;
            text-transform: uppercase;
        }
        .ticket-footer-bg {
            border-top: 3px dashed #d8d8d8;
            background-image: url("{{ image_domain ~ asset('assets/img/bg_logo_h.png') }}");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .ticket-footer {
            padding: 13px 80px 10px;
        }
        .ticket-footer-bg .ticket__header {
            padding: 10px 80px 40px;
        }
        .ticket-footer__box {
            height: auto;
            overflow: hidden;
        }
        .ticket-footer-bg .ticket__header {
            border-bottom: none;
        }
        .ticket-footer .partners {
            padding-top: 40px;
        }
        .ticket-footer .partners__title {
            text-align: left;
        }
        .ticket-footer .partners {
            padding-top: 40px;
        }
        .ticket-footer__box:after {
            content: '';
            display: block;
            clear: both;
        }
        .ticket-footer__left {
            float: none;
            width: 50%;
        }
        .ticket-footer__right {
            float: right;
            width: 45%;
        }
        .ticket-footer__title {
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            text-transform: uppercase;
            padding-bottom: 0;
            font-weight: bold;
            height: 76px;
            overflow: hidden;
        }
        .ticket-footer .ticket-label {
            font-size: 9px;
            font-weight: bold;
        }
        .ticket-footer .table-row__value {
            line-height: 24px;
            padding-bottom: 17px;
        }
        .ticket-footer .table-row__text {
            font-size: 13px;
            line-height: 24px;
            height: auto;
        }
        .ticket-contacts {
            padding-top: 35px;
        }
        .ticket-contacts__left {
            float: none;
        }
        .ticket-footer .ticket-logo {
            width: 325px;
            float: right;
            margin-right: 120px;
        }
        .ticket-contacts__phone {
            font-size: 21px;
            font-weight: bold;
            line-height: 21px;
            letter-spacing: 0.9px;
            color: #000000;
            margin-bottom: 8px;
        }
        .ticket-contacts__hint {
            font-size: 9px;
            font-weight: bold;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            color: #29344f99;
        }
        .ticket-number {
            font-size: 15px;
            padding-bottom: 5px;
        }
        .bar {
            width: 335px;
            height: 100px;
        }
        .qr {
            width: 130px;
            height: 130px;
        }
    </style>
</head>
<body>
{% for ticket in tickets %}

{% set ticketTemplate = ticket.eventPoint.electronicTemplate %}

{% set logo = ticketTemplate.media ? (ticketTemplate.media.getPathFileName | imagine_filter('quality_cutter')) : (image_domain ~ asset('assets/img/logo.png', null, true)) %}
{% set qrBarCode = ticketTemplate.codeType ==  'qr_bar' %}
{% set qrCode = ticketTemplate.codeType == 'qr' or qrBarCode ? (ticket.barcode ? 'data:image/png;base64,' ~ qr(ticket) : (image_domain ~ asset('assets/img/qr.png', null, true)))  %}
{% set barCode = ticketTemplate.codeType == 'bar' or qrBarCode ? (ticket.barcode ? 'data:image/png;base64,' ~ bar(ticket) : (image_domain ~ asset('assets/img/bar.png', null, true)))  %}
{% set city = ticket.order and ticket.order.city ? ticket.order.city.name : ticket.place.sector.hall.venue.city.name|default('________') %}
{% set orderNumber = ticket.order.number|default('____') %}
{% set orderDate = ticket and ticket.order and ticket.order.createdAt ? ticket.order.createdAt|date('d.m.Y, H:i') : '__.__.____, __:__' %}
{% set ticketPrice = ticket.priceNet ? price(ticket.priceNet) %}
{% set deliveryPrice = ticket.order and ticket.order.deliveryType and ticket.order.deliveryType.price.amount > 0 ? price(ticket.order.deliveryType.price) %}
{% set partner1 = ticketTemplate.partnersLogos|length > 0 ? (ticketTemplate.partnersLogos[0].getPathFileName | imagine_filter('quality_cutter')): (image_domain ~ asset('assets/img/partner1.png', null, true)) %}
{% set partner2 = ticketTemplate.partnersLogos|length > 1 ? (ticketTemplate.partnersLogos[1].getPathFileName | imagine_filter('quality_cutter')) : (image_domain ~ asset('assets/img/partner3.png', null, true)) %}

<div class="ticket">
    <div class="ticket__main">
        <div class="ticket__header clear-fix">
            <div class="ticket__header-left">
                <div class="ticket-logo">
                    <img src="{{ logo }}" width="330" alt="" style="max-height: 55px;">
                </div>
                <div class="ticket-logo-hint">
                    <div class="ticket-logo-hint__text">{{ 'pdf.header.tickets'|trans({}, null, pdfLocale) }}</div>
                    <div class="ticket-logo-hint__text">{{ 'pdf.header.online'|trans({}, null, pdfLocale) }}</div>
                </div>
            </div>
            <div class="ticket__header-right">
                <div class="ticket-help">
                    <div class="ticket-help__right">
                        <div class="ticket-help__label">{{ 'pdf.header.ticket_order'|trans({}, null, pdfLocale) }}</div>
                        <a href="ticketsbox.com" class="ticket-help__link">Ticketsbox.com</a>
                    </div>
                    <div class="ticket-help__left">
                        <div class="ticket-help__label">{{ 'pdf.header.service_phone'|trans({}, null, pdfLocale) }}</div>
                        <a href="tel:380445316010" class="ticket-help__phone">{{ contactPhone }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticket-preview">
            <div class="ticket-preview__poster">
                <img src="{{ ticket.eventPoint.poster.getPathFileName | imagine_filter('pdf_poster') }}" alt="" width="306" height="432" class="ticket-preview__img">
            </div>
            <div class="ticket-preview__description">
                <div class="table-row">
                    <div class="table-row__right" style="width: 46%;">
                        <div class="barcode" style="text-align: right;">
                            {% if qrCode %}
                            <img class="barcode__img qr" src="{{ qrCode }}" alt="" style="width: 230px; height: 230px;">
                            {% endif %}

                            <!-- Todo If ЗолотаЖарПтіца
                            <img class="barcode__img" src="./assets/template/unl.png" alt="" style="width: 100%; height: auto;">
-->

                        </div>
                    </div>
                    <div class="table-row__left" style="max-width: 54%;">
                        <div class="ticket-preview__name">{{ ticket.eventPoint.event.name }}</div>
                        <div class="table-row__value">
                            <div>{{ city }}, {{ ticket.place.sector.hall.venue.address|default( ticket.eventPoint.venue.address|default('________') ) }}</div>
                            <div>{{ ticket.place.sector.hall.venue.name|default('________') }}</div>
                        </div>
                        <div class="table-row__value">
                            <div><b>{{ 'pdf.title.date_start'|trans({}, null, pdfLocale) }}</b></div>
                            <div>{{ ticket.eventPoint.dateStarted|date('d.m.Y, H:i') }}</div>
                        </div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-row__right" style="width: 46%;">
                        <div class="barcode" style="margin-top: 20px;">
                            {% if constant('AppBundle\\Entity\\Ticket\\Ticket::STATUS_INVITE') == ticket.ticketStatus %}
                            <div class="ticket-number"><b>{{ 'pdf.title.invitation'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                            {% else %}
                            <div class="ticket-number"><b>{{ 'pdf.title.order'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                            {% endif %}

                            {% if barCode %}
                            <img class="barcode__img bar" src="{{ barCode }}" alt=""/>
                            <div class="barcode__number">
                                <div class="barcode__number-right"></div>
                                <div class="barcode__number-left"><b>{{ ticket.barcode|default('_________') }}</b></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-row__left">
                        <div class="table-row__value">
                            <div><b>{{ 'pdf.title.place'|trans({}, null, pdfLocale) }}</b></div>
                            <div>
                                {{ ticket.sector.name|default('________') }}
                                {% if ticket.place and ticket.place.type == 0 %}
                                ,
                                {{ rowName(ticket.row, ticket.place.type) }},
                                {{ 'pdf.title.place'|trans({}, null, pdfLocale) }} {{ (ticket.place.type == 0 ? ticket.place.name)|default('_') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-row__value">
                            <div><b>{{ 'pdf.title.price'|trans({}, null, pdfLocale) }}:</b></div>
                            {% if constant('AppBundle\\Entity\\Ticket\\Ticket::STATUS_INVITE') == ticket.ticketStatus %}
                            <div><b>{{ 'pdf.title.not_for_sale'|trans({}, null, pdfLocale) }}</b></div>
                            {% else %}
                            <div>
                                {{ ticketPrice['amount']|default('___') }}
                                {{ ticketPrice['currency']|default('___')|trans({}, null, pdfLocale) }}

                                {% if deliveryPrice|length > 0 %}
                                + {{ 'pdf.title.price_service'|trans({}, null, pdfLocale) }}:
                                {{ deliveryPrice['amount']|default('___') }}
                                {{ deliveryPrice['currency']|default('__.')|trans({}, null, pdfLocale) }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket-preview__bottom clear-fix">
            <div class="barcode-row">
                <div class="barcode barcode--right">
                    {% if qrCode %}
                    <img class="barcode__img qr" width="140" src="{{ qrCode }}" alt="" />
                    {% endif %}
                </div>
                <div class="barcode barcode--left">
                    {% if constant('AppBundle\\Entity\\Ticket\\Ticket::STATUS_INVITE') == ticket.ticketStatus %}
                    <div class="ticket-number"><b>{{ 'pdf.title.invitation'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                    {% else %}
                    <div class="ticket-number"><b>{{ 'pdf.title.order'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                    {% endif %}

                    {% if barCode %}
                    <img class="barcode__img bar" src="{{ barCode }}" alt="" />
                    <div class="barcode__number">
                        <div class="barcode__number-right"></div>
                        <div class="barcode__number-left"><b>{{ ticket.barcode|default('______________') }}</b></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {#<div class="partners">#}
            {#<div class="partners__title">{{ 'pdf.title.partners'|trans({}, null, pdfLocale) }}</div>#}
            {#<div class="partners__list">#}
                {#<div class="partners__item partners__item-right">#}
                    {#<img class="partners__img" style="max-height: 110px" src="{{ partner2  }}" alt="">#}
                    {#</div>#}
                {#<div class="partners__item partners__item-left">#}
                    {#<img class="partners__img" style="max-height: 110px" src="{{ partner1  }}" alt="">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>


    <div class="ticket-rules">
        <div class="ticket-rules__box">
            <div class="ticket-rules__right">
                <div class="ticket-rules__title" style="margin-bottom: 50px;">{{ 'pdf.title.forbidden'|trans({}, null, pdfLocale) }}:</div>
                <div class="ticket-rules__forbidden" style="margin-bottom: 45px;">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/photo.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/video.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/guns.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/bomb.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/weed.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon ticket-rules__icon--last">
                </div>
                <div class="ticket-rules__forbidden">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/light.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/umbrella.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/alcogol.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon">
                    <img src="{{ image_domain ~ asset('assets/img/forbidden/pets.png', null, true) }}" alt="" width="50" height="50" class="ticket-rules__icon ticket-rules__icon--last">
                </div>
                <div class="ticket-rules__text">
                    {{ 'pdf.forbidden.description'|trans({}, null, pdfLocale) }}
                </div>
            </div>
            <div class="ticket-rules__left">
                <div class="ticket-rules__title">{{ 'pdf.title.rules'|trans({}, null, pdfLocale) }}</div>
                <div class="ticket-rules__list">
                    {% for i in 1 .. 7 %}
                    <div class="ticket-rules__item">
                        <div class="ticket-rules__text">{{ ('pdf.rules.'~i)|trans({}, null, pdfLocale) }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ticket-footer-bg">
        <div class="ticket-footer">
            <div class="ticket-footer__box">
                <div class="ticket-footer__right">
                    <div class="barcode-row">
                        <div class="barcode barcode--right">
                            {% if qrCode %}
                            <img class="barcode__img qr" src="{{ qrCode }}" alt="" />
                            {% endif %}
                        </div>
                        <div class="barcode barcode--left">
                            {% if constant('AppBundle\\Entity\\Ticket\\Ticket::STATUS_INVITE') == ticket.ticketStatus %}
                            <div class="ticket-number"><b>{{ 'pdf.title.invitation'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                            {% else %}
                            <div class="ticket-number"><b>{{ 'pdf.title.order'|trans({}, null, pdfLocale) }} № {{ orderNumber }} {{ 'pdf.title.from'|trans({}, null, pdfLocale) }}  {{ orderDate }}</b></div>
                            {% endif %}
                            {% if barCode %}
                            <img class="barcode__img bar" src="{{ barCode }}" alt="" />
                            <div class="barcode__number">
                                <div class="barcode__number-right"></div>
                                <div class="barcode__number-left"><b>{{ ticket.barcode|default('__________') }}</b></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {#<div class="partners">#}
                    {#<div class="partners__title" style="font-size: 21px;">{{ 'pdf.title.partners'|trans({}, null, pdfLocale) }}</div>#}
                    {#<div class="partners__list">#}
                        {#<div class="partners__item partners__item-right">#}
                            {#<img class="partners__img" style="max-height: 65px; margin-right: 30px;" src="{{ partner2  }}" alt="">#}
                            {#</div>#}
                        {#<div class="partners__item partners__item-left">#}
                            {#<img class="partners__img" style="max-height: 65px" src="{{ partner1  }}" alt="">#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                <div class="ticket-footer__left">
                    <div class="ticket-footer__title">
                        {{ ticket.eventPoint.event.name }}
                    </div>
                    <div class="table-row">
                        <div class="table-row__left">
                            <div class="table-row__value">
                                <div>{{ city }}, {{ ticket.place.sector.hall.venue.address|default( ticket.eventPoint.venue.address|default('________') ) }}</div>
                                <div>{{ ticket.place.sector.hall.venue.name|default('________') }}</div>
                            </div>
                            <div class="table-row__value">
                                <b>{{ 'pdf.title.date_start'|trans({}, null, pdfLocale) }}</b>
                                {{ ticket.eventPoint.dateStarted|date('d.m.Y, H:i') }}
                            </div>
                            <div class="table-row__value">
                                <b>{{ 'pdf.title.place'|trans({}, null, pdfLocale) }}:</b>
                                {{ ticket.sector.name|default('________') }}
                                {% if ticket.place and ticket.place.type == 0 %}
                                ,
                                {{ rowName(ticket.row, ticket.place.type) }},
                                {{ 'pdf.title.place'|trans({}, null, pdfLocale) }} {{ (ticket.place.type == 0 ? ticket.place.name)|default('_') }}
                                {% endif %}

                            </div>
                            <div class="table-row__value">
                                <b>{{ 'pdf.title.price'|trans({}, null, pdfLocale) }}:</b>
                                {% if constant('AppBundle\\Entity\\Ticket\\Ticket::STATUS_INVITE') == ticket.ticketStatus %}
                                <div><b>{{ 'pdf.title.not_for_sale'|trans({}, null, pdfLocale) }}</b></div>
                                {% else %}
                                {{ ticketPrice['amount']|default('___') }}
                                {{ ticketPrice['currency']|default('___')|trans({}, null, pdfLocale) }}

                                {% if deliveryPrice|length > 0 %}
                                + {{ 'pdf.title.price_service'|trans({}, null, pdfLocale) }}:
                                {{ deliveryPrice['amount']|default('___') }}
                                {{ deliveryPrice['currency']|default('__.')|trans({}, null, pdfLocale) }}
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket__header clear-fix">
            <div class="ticket__header-left">
                <div class="ticket-logo">
                    <img src="{{ logo }}" alt="" style="max-height: 55px;">
                </div>
                <div class="ticket-logo-hint">
                    <div class="ticket-logo-hint__text">{{ 'pdf.header.tickets'|trans({}, null, pdfLocale) }}</div>
                    <div class="ticket-logo-hint__text">{{ 'pdf.header.online'|trans({}, null, pdfLocale) }}</div>
                </div>
            </div>
            <div class="ticket__header-right">
                <div class="ticket-help">
                    <div class="ticket-help__right">
                        <div class="ticket-help__label">{{ 'pdf.header.ticket_order'|trans({}, null, pdfLocale) }}</div>
                        <a href="ticketsbox.com" class="ticket-help__link">Ticketsbox.com</a>
                    </div>
                    <div class="ticket-help__left">
                        <div class="ticket-help__label">{{ 'pdf.header.service_phone'|trans({}, null, pdfLocale) }}</div>
                        <a href="tel:380443343410" class="ticket-help__phone">{{ contactPhone }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}
</body>
</html>